/* purgecss start ignore */
.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: transparent;
}

.webp .mobile-image {
  background-image: url("/wintr-travel-home-sm.webp");
}

.no-webp .mobile-image {
  background-image: url("/wintr-travel-home-sm.jpg");
}

@media (min-width: 768px) {
  .cover {
    background-attachment: fixed;
    height: 100%;
  }

  .webp .cover {
    background-image: url("/wintr-travel-home.webp");
  }

  .no-webp .cover {
    background-image: url("/wintr-travel-home.jpg");
  }
}
/* purgecss end ignore */