/* purgecss start ignore */
.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: transparent;
}

.webp .mobile-image {
  background-image: url("/wintr-travel-home-sm.webp");
}

.no-webp .mobile-image {
  background-image: url("/wintr-travel-home-sm.jpg");
}

@media (min-width: 640px) {
  .webp .cover {
    background-attachment: fixed;
    background-image: url("/wintr-travel-home.webp");
    height: 100%;
  }

  .no-webp .cover {
    background-attachment: fixed;
    background-image: url("/wintr-travel-home.jpg");
    height: 100%;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .booking-form {
    padding: 3rem 0;
  }
}
/* purgecss end ignore */