.InputDates {
  width: 100%;
  display: flex;
}
.InputDates div {
  flex-grow: 1;
}
.DayPickerInput {
  position: relative;
  width: 100%;
}
.DayPickerInput input {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 2px 10px;
  height: 48px;
  width: 100%;
  color: #2d3748;
}
.DayPickerInput input::placeholder {
  color: #a0aec0;
}
.InputDates-from .DayPickerInput input {
  border: 1px solid #e2e8f0;
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
}
.InputDates-to .DayPickerInput input {
  border: 1px solid #e2e8f0;
  border-radius: 0 0.5rem 0.5rem 0;
}
.DayPickerInput input:focus {
  outline: none;
  border: 1px solid #0cb3fa;
}
.InputDates-from .DayPickerInput input:focus {
  border-right: 1px solid #0cb3fa;
}
.InputDates-from .DayPickerInput-OverlayWrapper {
  top: 8px;
  z-index: 60;
}
.InputDates-from,
.InputDates-to {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.InputDates-from .resetFromDate,
.InputDates-to .resetToDate {
  position: absolute;
  top: 37px;
  right: 8px;
}
.InputDates-from .resetFromDate path,
.InputDates-to .resetToDate path {
  color: #e3e8ef;
}
.InputDates-from .resetFromDate path:hover,
.InputDates-to .resetToDate path:hover {
  fill: #a3aebe !important;
}
.InputDates-to .DayPickerInput-OverlayWrapper {
  position: absolute;
  top: 56px;
  z-index: 60;
}
.DayPickerInput-Overlay {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
}
.DayPicker-Caption {
  text-align: center;
}
.DayPicker-Caption > div {
  color: #2d3748;
  font-weight: 600;
}
.DayPicker-Weekday {
  color: #a0aec0;
}
.DayPicker-Day {
  border: 1px solid #e2e8f0;
  padding: 0.4rem;
  cursor: pointer;
}
.DayPicker-Day:hover {
  background: #f7fafc !important;
}
.DayPicker-Day:focus {
  outline: none;
  border: 1px solid #0cb3fa;
}
.DayPicker-Day,
.DayPicker-Day--today {
  color: #2d3748;
  font-weight: normal;
  font-size: 90%;
}
.DayPicker-Day--disabled {
  color: #e2e8f0;
}
.InputDates
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #96dfff;
  color: white;
}
.InputDates .DayPicker-Day {
  border-radius: 0 !important;
}
.InputDates .DayPicker-Day--start,
.InputDates .DayPicker-Day--end {
  background-color: #0cb3fa !important;
  color: white;
}
@media (min-width: 342px) {
  .InputDates-to .DayPickerInput-OverlayWrapper {
    right: 294px;
  }
  .DayPicker-Day {
    padding: 0.6rem;
  }
}
@media (min-width: 768px) {
  .InputDates-to .DayPickerInput-OverlayWrapper {
    left: -65px;
  }
}
