.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: transparent;
}

/* Home page */
.webp .mobile-image {
  background-image: url('/images/home-wintr-travel-xs.webp');
}
.no-webp .mobile-image {
  background-image: url('/images/home-wintr-travel-xs.jpg');
}

.webp .home-args-image-1 {
  background-image: url('/images/home-wintr-travel-2-sm.webp');
}
.no-webp .home-args-image-1 {
  background-image: url('/images/home-wintr-travel-2-sm.jpg');
}

.webp .home-args-image-2 {
  background-image: url('/images/home-wintr-travel-3-sm.webp');
}
.no-webp .home-args-image-2 {
  background-image: url('/images/home-wintr-travel-3-sm.jpg');
}

.webp .home-args-image-3 {
  background-image: url('/images/home-wintr-travel-4-sm.webp');
}
.no-webp .home-args-image-3 {
  background-image: url('/images/home-wintr-travel-4-sm.jpg');
}

@media (min-width: 415px) {
  .webp .mobile-image {
    background-image: url('/images/home-wintr-travel-sm.webp');
  }
  .no-webp .mobile-image {
    background-image: url('/images/home-wintr-travel-sm.jpg');
  }

  .webp .home-args-image-1 {
    background-image: url('/images/home-wintr-travel-2-md.webp');
  }
  .no-webp .home-args-image-1 {
    background-image: url('/images/home-wintr-travel-2-md.jpg');
  }

  .webp .home-args-image-2 {
    background-image: url('/images/home-wintr-travel-3-md.webp');
  }
  .no-webp .home-args-image-2 {
    background-image: url('/images/home-wintr-travel-3-md.jpg');
  }

  .webp .home-args-image-3 {
    background-image: url('/images/home-wintr-travel-4-md.webp');
  }
  .no-webp .home-args-image-3 {
    background-image: url('/images/home-wintr-travel-4-md.jpg');
  }
}

@media (min-width: 641px) {
  .webp .mobile-image {
    background-image: url('/images/home-wintr-travel-md.webp');
  }
  .no-webp .mobile-image {
    background-image: url('/images/home-wintr-travel-md.jpg');
  }

  .webp .home-args-image-1 {
    background-image: url('/images/home-wintr-travel-2-lg.webp');
  }
  .no-webp .home-args-image-1 {
    background-image: url('/images/home-wintr-travel-2-lg.jpg');
  }

  .webp .home-args-image-2 {
    background-image: url('/images/home-wintr-travel-3-lg.webp');
  }
  .no-webp .home-args-image-2 {
    background-image: url('/images/home-wintr-travel-3-lg.jpg');
  }

  .webp .home-args-image-3 {
    background-image: url('/images/home-wintr-travel-4-lg.webp');
  }
  .no-webp .home-args-image-3 {
    background-image: url('/images/home-wintr-travel-4-lg.jpg');
  }
}

@media (min-width: 768px) {
  .webp .hero::before {
    filter: brightness(50%);
    background: url('/images/home-wintr-travel-lg.webp');
  }
  .no-webp .hero::before {
    filter: brightness(50%);
    background: url('/images/home-wintr-travel-lg.jpg');
  }
}

/* About page */
.webp .about-image-1 {
  background-image: url('/images/about/about-wintr-travel-1-sm.webp');
}
.no-webp .about-image-1 {
  background-image: url('/images/about/about-wintr-travel-1-sm.jpg');
}
.webp .about-image-2 {
  background-image: url('/images/about/about-wintr-travel-2-sm.webp');
}
.no-webp .about-image-2 {
  background-image: url('/images/about/about-wintr-travel-2-sm.jpg');
}
.webp .about-image-3 {
  background-image: url('/images/about/about-wintr-travel-3-sm.webp');
}
.no-webp .about-image-3 {
  background-image: url('/images/about/about-wintr-travel-3-sm.jpg');
}

@media (min-width: 415px) {
  .webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-md.webp');
  }
  .no-webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-md.jpg');
  }
  .webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-md.webp');
  }
  .no-webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-md.jpg');
  }
  .webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-md.webp');
  }
  .no-webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-md.jpg');
  }
}

@media (min-width: 641px) {
  .webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-lg.webp');
  }
  .no-webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-lg.jpg');
  }
  .webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-lg.webp');
  }
  .no-webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-lg.jpg');
  }
  .webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-lg.webp');
  }
  .no-webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-lg.jpg');
  }
}
