/* About page */
.webp .about-image-1 {
  background-image: url('/images/about/about-wintr-travel-1-sm.webp');
}
.no-webp .about-image-1 {
  background-image: url('/images/about/about-wintr-travel-1-sm.jpg');
}
.webp .about-image-2 {
  background-image: url('/images/about/about-wintr-travel-2-sm.webp');
}
.no-webp .about-image-2 {
  background-image: url('/images/about/about-wintr-travel-2-sm.jpg');
}
.webp .about-image-3 {
  background-image: url('/images/about/about-wintr-travel-3-sm.webp');
}
.no-webp .about-image-3 {
  background-image: url('/images/about/about-wintr-travel-3-sm.jpg');
}

@media (min-width: 415px) {
  .webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-md.webp');
  }
  .no-webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-md.jpg');
  }
  .webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-md.webp');
  }
  .no-webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-md.jpg');
  }
  .webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-md.webp');
  }
  .no-webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-md.jpg');
  }
}

@media (min-width: 641px) {
  .webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-lg.webp');
  }
  .no-webp .about-image-1 {
    background-image: url('/images/about/about-wintr-travel-1-lg.jpg');
  }
  .webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-lg.webp');
  }
  .no-webp .about-image-2 {
    background-image: url('/images/about/about-wintr-travel-2-lg.jpg');
  }
  .webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-lg.webp');
  }
  .no-webp .about-image-3 {
    background-image: url('/images/about/about-wintr-travel-3-lg.jpg');
  }
}
