/* Background images */
.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: transparent;
}

.webp .mobile-image {
  background-image: url('images/mobile/wintr-travel-home-xs.jpg?webp');
  background-image: url('images/desktop/wintr-travel-home-2.jpg?webp');
}
.no-webp .mobile-image {
  /* background-image: url('images/mobile/wintr-travel-home-xs.jpg'); */
  background-image: url('images/desktop/wintr-travel-home-2.jpg');
}

.webp .home-args-image-1 {
  background-image: url('images/mobile/wintr-travel-simple-sm.jpg?webp');
}
.no-webp .home-args-image-1 {
  background-image: url('images/mobile/wintr-travel-simple-sm.jpg');
}

.webp .home-args-image-2 {
  background-image: url('images/mobile/wintr-travel-rapide-sm.jpg?webp');
}
.no-webp .home-args-image-2 {
  background-image: url('images/mobile/wintr-travel-rapide-sm.jpg');
}

.webp .home-args-image-3 {
  background-image: url('images/mobile/wintr-travel-confort-sm.jpg?webp');
}
.no-webp .home-args-image-3 {
  background-image: url('images/mobile/wintr-travel-confort-sm.jpg');
}

@media (min-width: 415px) {
  .webp .mobile-image {
    background-image: url('images/mobile/wintr-travel-home.jpg?webp');
  }
  .no-webp .mobile-image {
    background-image: url('images/mobile/wintr-travel-home.jpg');
  }

  .webp .home-args-image-1 {
    background-image: url('images/mobile/wintr-travel-simple.jpg?webp');
  }
  .no-webp .home-args-image-1 {
    background-image: url('images/mobile/wintr-travel-simple.jpg');
  }

  .webp .home-args-image-2 {
    background-image: url('images/mobile/wintr-travel-rapide.jpg?webp');
  }
  .no-webp .home-args-image-2 {
    background-image: url('images/mobile/wintr-travel-rapide.jpg');
  }

  .webp .home-args-image-3 {
    background-image: url('images/mobile/wintr-travel-confort.jpg?webp');
  }
  .no-webp .home-args-image-3 {
    background-image: url('images/mobile/wintr-travel-confort.jpg');
  }
}

@media (min-width: 641px) {
  .webp .mobile-image {
    background-image: url('images/mobile/wintr-travel-home-md.jpg?webp');
  }
  .no-webp .mobile-image {
    background-image: url('images/mobile/wintr-travel-home-md.jpg');
  }

  .webp .home-args-image-1 {
    background-image: url('images/desktop/wintr-travel-simple-4.jpg?webp');
  }
  .no-webp .home-args-image-1 {
    background-image: url('images/desktop/wintr-travel-simple-4.jpg');
  }

  .webp .home-args-image-2 {
    background-image: url('images/desktop/wintr-travel-rapide-4.jpg?webp');
  }
  .no-webp .home-args-image-2 {
    background-image: url('images/desktop/wintr-travel-rapide-4.jpg');
  }

  .webp .home-args-image-3 {
    background-image: url('images/desktop/wintr-travel-confort-2.jpg?webp');
  }
  .no-webp .home-args-image-3 {
    background-image: url('images/desktop/wintr-travel-confort-2.jpg');
  }
}

@media (min-width: 768px) {
  .webp .hero::before {
    filter: brightness(50%);
    background: url('images/desktop/wintr-travel-home-2.jpg?webp');
  }
  .no-webp .hero::before {
    filter: brightness(50%);
    background: url('images/desktop/wintr-travel-home-2.jpg');
  }
}

/* Google Searchbox */
.pac-container {
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  box-shadow: none;
  border: 1px solid #cbd5e0;
}
.pac-item {
  padding: 0.5rem 0.3rem;
  font-family: inherit;
  font-size: 12px;
  color: #a0aec0;
}
.pac-item:hover {
  background-color: #f7fafc;
}
.pac-item-query {
  color: #2d3748;
  font-size: 14px;
}
